a 
{font-size: 2em}
p{
color:#375E97;
text-align: center;

}
h1 { font-size: 3em 

}
h1 {
color: #FB6542;
text-align: center;
}
h2 { font-size: 1em
}


p.TextSize { font-size: 2em

}
body {
background-color: #ffe570;
}
a{
    text-align: center;
}
h6{
    
}